@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    background-color: hsl(0, 0%, 95%);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.container {
  margin: 5rem auto;
  width: 700px;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  .col {
    padding: 2.5rem;
    img {
      width: 3rem;
      margin-bottom: 1.5rem;
    }
    h2 {
      text-transform: uppercase;
      font-family: "Big Shoulders Display", cursive;
      color: hsl(0, 0%, 95%);
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
    p {
      font-family: "Lexend Deca", sans-serif;
      color: hsla(0, 0%, 100%, 0.75);
      font-size: 0.8rem;
      margin-bottom: 4rem;
      line-height: 1.2rem;
    }
    button {
      border: 1.5px solid;
      background: hsl(0, 0%, 95%);
      border-radius: 50px;
      padding: 0.6rem 1.3rem;
      font-size: 0.7rem;
      cursor: pointer;
      font-family: "Lexend Deca", sans-serif;
      transition: 0.1s;

      &:active {
        background: none;
        border: 1.5px solid;
        color: hsla(0, 0%, 100%, 0.75);
      }
    }
  }
}

.col1 {
  background-color: $orange;
}
.col2 {
  background-color: $dark-cyan;
}
.col3 {
  background-color: $very-dark-cyan;
}
.btn1 {
  color: $orange;
}
.btn2 {
  color: $dark-cyan;
}
.btn3 {
  color: $very-dark-cyan;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
    width: 90%;
    max-width: 375px;
    .col {
      padding: 3.5rem;
      img {
        width: 75px;
      }
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
      button {
        font-size: 1.3rem;
        padding: 1rem 2rem;
      }
    }
  }
}
